body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body {
  background-color: rgb(179, 232, 243);
}

a {
  color: #00b7ff;
}


.btn--orange,
a.btn--orange {
  color: #fff;
  background-color: #08e44a;
}
.btn--orange:hover,
a.btn--orange:hover {
  color: #fff;
  background: #07ec2d;
}

<!--

div.my-sample {
  padding: 8px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: .25rem;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

pre.my-sample {
  padding: 4px;
  border: 1px solid rgb(9, 7, 7);
  border-radius: .25rem;
  font-size: 0.9rem;
  font-family: Consolas, "Meiryo UI";
}